<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book List</h1>
    {% if books_list %}
    <ul>
        {%for book in books_list%}
        <li>
            {{book.title}}
            {{book.total_pages}}
            {{book.author_name}}
        </li>
        {%endfor%}
    </ul>
    {% endif %}
    
    {% else %}
    <p>There are no books in the libary</p>
</body>
</html>