<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <div>
        <form action="/get_from" method="post">
            <label for="frist_name">frist_name</label>
            <input type="text" name="fristname">
            <label for="last_name">last_name</label>
            <input type="text" name="lastname">
            <label for="username">Username</label>
            <input type="text" name="username">
            <label for="password">password</label>
            <input type="text" name="password">
            <label for="email">email</label>
            <input type="text" name="email">
            <button type="submit">Submit</button>

        </form>
    </div>
</body>
</html>