<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
</head>
<body>
    <div>
        <form action={{polls:get_form}} method="post">
            <label for="frist_name">frist_name</label>
            <input type="text">
            <label for="last_name">frist_name</label>
            <input type="text">
            <label for="username">frist_name</label>
            <input type="text">
            <label for="password">frist_name</label>
            <input type="text">
            <label for="email">frist_name</label>
            <input type="text">

        </form>
    </div>
</body>
</html>